/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat-v29-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/montserrat-v29-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/oswald-v53-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* common */
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
}

.container {
    max-width: 1278px;
    margin: 0 auto;
    border: 1px solid red;
}

img {
    display: block;
    max-width: 100%;
}

/* header  */
.header {
    padding: 31px 0;
    background: #66D1FF;
}


.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0;
    padding: 0; */

    /* gap: 225px; */
}

.header__btn {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #060D10;
    background: #FFFFFF;
}

.phone {
    line-height: 34px;
    text-align: center;
    color: #060D10;
}

.header__btn {
    text-decoration: none;
}

.phone {
    text-decoration: none;
}


/* main */

/* promo */

.promo {

    background-image: url(images/promo.jpg);
    background-color: rgba(6, 13, 16, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.promo__bg {
    padding: 240px 0 260px;
    background-color: rgba(6, 13, 16, 0.25);
}

.promo__title {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    text-align: center;
    color: #FFFFFF;

}

.promo__content {

    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}

.promo__content p {
    margin: 60px 0 0;
}

/* about */

.about {
    padding: 170px 0;
    background: rgba(102, 209, 255, 0.1);
}

.about__list {
    margin: 0 0 170px;

}

.about__title {
    margin: 0 0 100px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    color: #060D10;
}

.about ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 70px;
}

.about li {
    list-style: none;
    width: calc(33.33% - 30px * 2 / 3);
}

.about__subtitle {
    margin: 0 0 25px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 53px;
    color: #060D10;
}

.about__text {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: #060D10;
}

.about__text p {
    margin: 0;
}

/* lead  */
.lead {
    padding: 170px 0 180px;
    text-align: center;
    background: rgba(102, 209, 255, 0.1);
}

.about__title,
.lead__title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    color: #060D10;
}

.lead__btn {
    font-size: 36px;
    line-height: 44px;

    color: #060D10;
}

.lead__wrap {
    display: flex;
    gap: 30px;
}

.lead-img {
    width: 25%;
}

/* footer */
.footer {
    padding: 35px 0;
    background: #060D10;
}

.footer__wrap {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    gap: 20px;
}

.footer_text {
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.footer_copiright {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}