/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat-v29-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/montserrat-v29-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/oswald-v53-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

.header {
    background: #66D1FF;

}
.header__btn {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #060D10;
    background: #FFFFFF;
}

.phone {
    line-height: 34px;
    text-align: center;
    color: #060D10;
}

.promo__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    text-align: center;
    color: #FFFFFF;

}

.promo__content {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}

.about {
    background: rgba(102, 209, 255, 0.1);
   
}

.about__title, .lead__title {
    font-family: 'Oswald';
    font-style: normal;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    color: #060D10;
}

.about__subtitle {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 53px;
    color: #060D10;
}

.about__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36x;
    color: #060D10;
}

.lead {
    background: rgba(102, 209, 255, 0.1);
}
.lead__btn {

    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #060D10;

}

.footer {
    background: #060D10;
}
.footer_text {
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.footer_copiright {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}
